/*.layout_footer{
	position: inherit;
	min-height: calc(100vh - 80px);
}*/

html{
	overflow: auto;
}

.ccenter{
	margin: auto;
}

.div_center{
	display: block;
	margin: auto;
}

#border{
	border-left: 2px solid black;
}

.head_login{
	height: 50px;
	border-bottom: 1px solid blue;
	margin-bottom: 10px; 
}

.head_reg{
	height: 50px;
	border-bottom: 1px solid green;
	margin-bottom: 10px; 
}

.reg_ot{
	margin-bottom: 5px;
}

.photo{
	height: 135px;
	width: 135px;
	margin: 10px 0 0 10px;
	border: 1px solid #808080;
}

.info{
	margin: 1px;
}

.line{
	border-top: 2px solid #808080;
}

.a{
	border: 1px solid red;
}

.photo_profile{
	margin-top: 30px;
	margin-bottom: 42px;
}

.nick{
	margin-top: 30px;
}

/*----------------------- Profile ------------------- */

.profile_albums{
	height: 300px;
	border-radius: 10px;
	background-color: #9d9d9d;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.profile_folder{
	margin-top: -30px;
}

.profile_date{
	text-align: center;
	margin-top: 20px;
	font-size: small;
	color: black;
}

.profile_buhlikes{
	margin-top: 120px;
}


/*-----------------------  Gallery ------------------ */

.gallery_title{
	color: dodgerblue;
	margin-top: 10px;
	margin-left: 30px;
}

.gallery_date{
	float: right;
	margin-top: -30px;
	margin-right: 30px;
}

.gallery_container{
	height: 500px;
	width: auto;
}

.photo_container{
	margin-left: 40px;
	height: 500px;
	border-radius: 10px;
	background-color: #9d9d9d;
	padding: 20px;
	overflow: auto;
}

.comment_container{
	height: 500px;
	border-radius: 10px;
	background-color: #9d9d9d;
	float: right;
	margin-right: 40px;
	padding: 20px;
}

.comment_display{
	color: black;
	height: 400px;
	overflow: auto;
	margin-bottom: 20px;
	border-bottom: 1px solid white;
}

.comment_input{
	text-align: center;
}

.gallery_delimiter{
	border-top: 1px solid #9d9d9d;
	margin: 20px 30px;
}

.gallery_description{
	height: 200px;
	margin-bottom: 30px;
}

.gallery_description_block{
	padding: 10px 20px;
	margin-left: 40px;
	height: 200px;
	border-radius: 10px;
	background-color: #9d9d9d;
	overflow: auto;
}

.gallery_buhlikes_container{
	height: 200px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #9d9d9d;
	float: right;
	margin-right: 40px;
}

.gallery_buhlikes{
	/*TODO: Смотреть кто поставил бухлайк*/
}
/*-----------------------  Album ------------------ */

.coment{
	background-color: #908d8d;
	height: 130px;
	color: white;
}

.allusers_table{
	text-align: center;
	width: 300px;
	margin: auto;
}
.allusers_table th {
	text-align: center;
}
.settings_delimiter{
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

.settings_button{
	width: 100px;
	float: right;
}

.settings_changer{
	padding-left: 30px;
	padding-right: 30px;
}

#ds{
	margin-left: 30px;
}

#album_description{
	resize: none;
	margin-bottom: 10px;
}

.album_photos_show{
	height: 80px;
	width: 70px;
	float: right;
}

.photos_changer{
	padding: 5px;
	height: 400px;
	width: auto;
	overflow: auto;
	border-bottom: 1px solid #dddddd;
}

.album_upload{
	float: right;
	margin-right: 5px;
}

.albums_ph_delimiter{
	border-bottom: 1px solid #dddddd;
}

.albums_counter{
	padding-left: 100px;
	padding-right: 100px;
}

.form_indent{
	margin-bottom: 5px;
}


.bookmarks_table tbody tr td, .bookmarks_table tbody th td {
	border: none;
}

.xx_table{
	height: 250px;
	width: 250px;
	text-align: center;
}

.xx_table img{
	max-width: 100%;
}

.bookmarks_content{
	margin: auto;
}






