html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*----------------------- Auth ------------------- */

#auth_border{
	border-left: 2px solid black;
}

.head_login{
	height: 50px;
	border-bottom: 1px solid blue;
	margin-bottom: 10px; 
}

.head_reg{
	height: 50px;
	border-bottom: 1px solid green;
	margin-bottom: 10px; 
}

/*----------------------- Layout ------------------- */

.photo_profile{
	margin-top: 30px;
	margin-bottom: 42px;
}

.nick{
	margin-top: 30px;
}

/*----------------------- Profile ------------------- */

.profile_albums{
	border-radius: 10px;
	background-color: #f7f7f7;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.profile_folder{
	margin-top: -30px;
}

.profile_date{
	text-align: center;
	margin-top: 20px;
	font-size: small;
	color: black;
}


/*-----------------------  Gallery ------------------ */

.gallery_title{
	color: dodgerblue;
	margin-top: 10px;
	margin-left: 30px;
}

.gallery_date{
	float: right;
	margin-top: -30px;
	margin-right: 30px;
}

.gallery_container{
	height: 500px;
	width: auto;
}

.photo_container{
	margin-left: 40px;
	height: 500px;
	border-radius: 10px;
	background-color: #f7f7f7;
	padding: 20px;
	overflow: auto;
}

.comment_container{
	height: 500px;
	border-radius: 10px;
	background-color: #f7f7f7;
	float: right;
	margin-right: 40px;
	padding: 20px;
}

.comment_display{
	color: black;
	height: 400px;
	overflow: auto;
	margin-bottom: 20px;
	border-bottom: 1px solid white;
}

.comment_input{
	text-align: center;
}

.gallery_comment_deleter{
	float: left;
	color: #a1a1a1;
	font-size: x-small;
}

.gallery_delimiter{
	border-top: 1px solid #f7f7f7;
	margin: 20px 30px;
}

.gallery_description{
	height: 200px;
	margin-bottom: 30px;
}

.gallery_description_block{
	padding: 10px 20px;
	margin-left: 40px;
	height: 200px;
	border-radius: 10px;
	background-color: #f7f7f7;
	overflow: auto;
}

.gallery_buhlikes_container{
	height: 200px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #f7f7f7;
	float: right;
	margin-right: 40px;
}

.gallery_owner{
	margin-top: 40px;
}

.gallery_buhlikes{
	/*TODO: Смотреть кто поставил бухлайк*/
}
/*-----------------------  Album ------------------ */

#album_description{
	resize: none;
	margin-bottom: 10px;
}

.album_photos_show{
	height: 80px;
	width: 70px;
	float: right;
}

.photos_changer{
	padding: 5px;
	height: 400px;
	width: auto;
	overflow: auto;
	border-bottom: 1px solid #dddddd;
}

.album_upload{
	float: right;
	margin-right: 5px;
}

.albums_ph_delimiter{
	border-bottom: 1px solid #dddddd;
}

.albums_counter{
	padding-left: 100px;
	padding-right: 100px;
}

.album_available{
	float: right;
	margin-right: 5px;
}

.share_deleter{
	float: right;
	color: red;
}

.albums_button{
	width: 100px;
	float: right;
}

/*-----------------------  Settings ------------------ */

.settings_delimiter{
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

.settings_button{
	margin-top: -4px;
	width: 100px;
	float: right;
}

.settings_changer{
	padding-left: 30px;
	padding-right: 30px;
}

.allusers_table{
	text-align: center;
	width: 300px;
	margin: auto;
}
.allusers_table th {
	text-align: center;
}

#about_show{
	margin-top: 50px;
}


/*-----------------------  Bookmarks ------------------ */

.bookmarks_table tbody tr td, .bookmarks_table tbody th td {
	border: none;
}

.xx_table{
	height: 250px;
	width: 250px;
	text-align: center;
}

.xx_table img{
	max-width: 100%;
}

.bookmarks_content{
	margin: auto;
}

/*-----------------------  Issues ------------------ */

.issues_container{
	overflow: auto;
}

/*-----------------------  Other ------------------ */

.form_indent{
	margin-bottom: 5px;
}

#link_sample{
	display: none;
}

.info{
	margin: 1px;
}

.line{
	border-top: 2px solid #808080;
}

.coment{
	background-color: #908d8d;
	height: 130px;
	color: white;
}

#ds{
	margin-left: 30px;
}

/*-------------------------- Phone ---------------------- */

.phone_menu{
	background-color: #f7f7f7;
	border-bottom: 1px solid white;
	text-align: center;
}

.phone_menu a{
	display: block;
}

.phone_menu:hover{
	background-color: #cacaca;
}

.phone_profile_buhlikes_div{
	margin-top: 15px;
}





